@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-for-heading);
  --color-primary-500: #ed1d24;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope-sans), Helvetica, sans-serif;
}

.section-container {
  @apply mx-auto max-w-6xl px-4 sm:px-6 lg:px-8;
}
h1 {
  @apply text-3xl md:text-5xl font-heading;
}

h2 {
  @apply text-2xl md:text-3xl font-heading;
}

h3 {
  @apply text-xl font-bold tracking-tight leading-6;
}

.styleInput {
  @apply w-full cursor-default overflow-hidden rounded border border-slate-400 bg-white text-left shadow-sm focus:outline-gray-500 sm:text-sm py-2 px-3;
}

.styleLabel {
  @apply block text-sm font-medium mb-1;
}

.slick-dots li.slick-active div {
  @apply bg-primary-500;
}
